* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font weight: 200;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  line-height: 30px;
  background-image: url("Background.png");
  background-color: #cccccc;
}

.form_container {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color:   #3498db;
  max-width: 750px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  margin: 0 auto;
  margin-top: 220px;
  position: relative;
  margin-top: 50px;
}

.header {
  text-align: center;
  Background-color: black;
  height: 170px;
  margin: 0px;
  padding: 0px;
  left: 0;
  top: 0;
  right: 0;
}

.label {
  width: 180px;
}

.row {
  border: none;
  display: flex;
}

.button {
  border: none;
}

.button button[type="submit"] {
  font: bold 20px/24px;
  background-color: #d2b4de;
}
.input {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
}

input {
  flex-grow: 1;
}

.input:not(:valid) {
  border-color: red;
}

.input:focus {
  border-color: #c846d7;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8) ;
}
